# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage*
htmlcov/

# Environments
.venv/
venv/
ENV/
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
